/.venv
/venv
.env
.DS_Store
.idea

# Изображения
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.svg
*.ico
*.heic
*.heif
*.avif

# Папки с изображениями
**/images/**
**/static/images/**
**/media/**
**/uploads/**
**/avatars/**
**/children_avatars/**
**/icons_sub/**
**/baners/**
**/docs/**